<div class="header">
    <h1>Wallet App</h1>
    <div class="button-wrapper">
      <div class="button"><%= link_to 'Users', users_path, class: "btn btn-primary"%></div>  
      <div class="button"><%= link_to 'Teams', teams_path, class: "btn btn-primary"%></div>
      <div class="button"><%= link_to 'Stocks', stocks_path, class: "btn btn-primary"%></div>
    </div>
</div>