// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-table {
    display: inline-block;
    margin: 10px;
}

.table th, .table td {
    vertical-align: middle;
    font-size: medium;
}
.line {
    border-left: medium dashed black;
    transform: translateY(10%);
}

.button-fit {
    display: flex;
}

.margin-h1 {
  margin-right: 10px
}