// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-table {
    display: inline-block;
    margin: 10px;
}

.table th, .table td {
    vertical-align: middle;
    font-size: medium;
}